body
    background-image: url('../IMG/bg.jpg')
    background-size: cover
    display: flex
    flex-direction: column
    #sectionA
        width: 100%
        height: 10vh
        display: flex
        justify-content: center
        gap: 0.5%
        padding-top: 2% 
        button
            height: 6vh
            width: 7vw
            border-color: white
            border-radius: 10%
            font-weight: bolder
            background-color: orange
            color: white
        input
            height: 5vh
            width: 17vw
    #sectionT
        display: flex
        flex-direction: column
        justify-content: center
        padding-top: 5%
        h1
            text-align: center
            font-size: 3rem
            color: orange
            margin: 0
            margin-bottom: 5%
            text-decoration: underline
        .divN
            width: 40vw
            height: 20vh
            background-color: orange
            margin: auto
            margin-bottom: 2%
            justify-content: space-between
            display: flex
            flex-direction: row
            padding: 1%
            border: white solid 2px
            p
                width: 5vw
                height: 5vh
                margin-top: 8%
                font-size: 2rem
                align-items: center
                
            .divbtn
                display: flex
                flex-direction: column
                gap: 5%
                width: 15%
                button
                        width: 100%
                        height: 20%
                        border-radius: 20px
